html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #525252;
  min-width: 320px;
}

a {
  text-decoration: none;
}

.container {
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  width: 100%;
  height: 100%;
  grid-template-areas: "main";
}

.login-page {
  display: grid;
  grid-area: main;
  #sign-in-form {
    .shadow-depth-5;
    padding: 50px;
    align-self: center;
    justify-self: center;
    max-width: 500px;
    max-height: 500px;
  }
}

.overview-page {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "sidebar" "content";
  grid-template-rows: 10% 90%;
  .sidebar {
    grid-area: sidebar;
    min-height: 50px;
    display: grid;
    align-content: center;
    justify-content: center;
    .calendar {
      input {
        border: none;
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 5px;
        color: #525252;
      }
    }
  }
  .content {
    grid-area: content;
    padding: 50px;
    @media (max-width: 450px) {
      padding: 15px;
    }
    textarea, input {
      margin: 0;
      //border: none;
      width: 100%;
      height: 100%;
    }
    input {
      text-transform: uppercase;
    }
    .work-log-item {
      .status-column > svg {
        width: 20px;
        height: 20px;
        margin: 0 auto;
        display: none;
      }
      [data-status="saved"] .status-saved {
        display: block;
      }
      [data-status="upload"] .status-upload {
        cursor: pointer;
        display: block;
      }
      [data-status="error"] .status-error {
        display: block;
      }
    }
  }
}

.hide {
  display: none;
}

blockquote {
  &.error {
    border-left-color: firebrick;
  }
}

.shadow-depth-2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3)
}

.shadow-depth-5 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}