html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #525252;
}

a {
  text-decoration: none;
}

.container {
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  width: 100%;
  height: 100%;
  grid-template-areas:"main";
}
.login-page {
  display: grid;
  grid-area: main;
  #sign-in-form {
    align-self: center;
    justify-self: center;
    max-width: 500px;
    max-height: 500px;
  }
}